@import "tailwindcss";


/* Add to your global CSS file */
@keyframes pulse-once {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.animate-pulse-once {
  animation: pulse-once 0.3s ease-in-out;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Optional smooth transition */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}